@import '/src/assets/scss/index.scss';

.pokemon-list {
    margin: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;

    @include responsive(desktop) {
        padding: 1rem;
        grid-template-columns: repeat(3, 3fr);
    }

    @include responsive(tablet) {
        grid-template-columns: repeat(2, 2fr);
    }

    @include responsive(phone) {
        grid-template-columns: 100%;
    }
}